.phoneBTN-white {
    display: block;
    @include styleButton(
        transparent,
        $pd-3 + 0.5,
        $pd-4,
        2px solid $color-blue-2
    );
    @include styleText($fs-1, $fw-2, $color-blue-2);
    transition: 0.5s;
    &:hover {
        @include styleHoverButton($color-white-3, $color-blue-2, $color-blue-2);
    }
}

.btnPhone-shadow {
    @include styleButton(#f5ac58, $pd-3 + 0.5, $pd-1, none);
    @include styleText($fs-1, $fw-2, $color-white-1);
    transition: all 0.3s linear;
    box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
}
