.headerPhone {
    background-color: $color-white-1;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1040;
    .navbar {
        padding: 0;
        flex: 100%;
    }
    .navbar-brand {
        @include styleText($fs-3 + 1, $fw-3, $color-blue-2);
        font-family: "Montserrat", sans-serif;
        img {
            max-width: 75px;
        }
    }
    .navbar-nav {
        align-items: center;
        padding: 0;
        flex-basis: 100%;
        .nav-item {
            text-align: center;
            padding: 0 15px;
            min-width: 110px;
            position: relative;
            .menu-link {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include styleText($fs-2, $fw-2, $color-blue-1);
                transition: 0.2s;
                position: relative;
                padding: 10px 0;
                i {
                    font-size: $fs-3;
                }
                &:hover {
                    color: $color-blue-2;
                    .sub-nav {
                        visibility: visible;
                        opacity: 1;
                        transform: scale(1);
                        @include styleText($fs-1, $fw-1, $color-dark-1);
                    }
                }
            }
            .search {
                position: relative;
                input {
                    display: block;
                    width: 100%;
                    border-radius: 4px;
                    padding: 1rem 0.75rem;
                    min-height: 16px;
                    outline: none;
                    border: 0;
                    background-color: #ebe7e7;
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                }
                button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    @include styleButton($color-blue-4, 10px, 15px, none);
                    color: #fff;
                }
            }
        }
        .active {
            .nav-link {
                color: $color-blue-2;
                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}

.sub-nav {
    position: absolute;
    top: 105%;
    right: -15px;
    min-width: 300px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.2s ease-out;
    transform-origin: 80% 0;
    box-shadow: 5px 5px 10px #a3a3a3;
    p {
        margin-top: 10px;
    }
    &:after {
        position: absolute;
        content: "";
        top: -10px;
        right: 46px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #ff8447;
    }
    &:before {
        position: absolute;
        content: "";
        top: -10px;
        right: 0;
        width: 100%;
        height: 10px;
    }
    .sub-nav-list {
        li a {
            display: block;
            padding: 10px;
            &:hover {
                background-color: #ebe7e7;
            }
        }
        button {
            margin-top: 10px;
        }
    }
}

#cart {
    min-width: 450px;
}

.cart-product-name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-width: unset;
    min-width: unset;
}

.menu-scroll {
    // height: 70px;
    -webkit-animation: 0.5s hidenMenu ease-in;
    animation: 0.5s hidenMenu linear;
    .navbar-brand {
        @include styleText($fs-2 + 1, $fw-3, $color-blue-2);
        img {
            max-width: 60px;
        }
    }
}

.type {
    background-color: #ff8447;
    .type-link {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        text-align: center;
        display: block;
        padding: 10px 0;
        font-size: 16px;
        font-weight: 600;
        color: $color-white-3;
        p {
            display: inline-block;
        }
        &:hover {
            background-color: $color-white-2;
            color: $color-dark-3;
        }
    }
}
.active {
    background-color: $color-white-2 !important;
    color: $color-dark-3 !important;
}

//reponsive

@include responsive("large") {
    .headerPhone {
        .navbar-toggler {
            background: $color-white-1;
        }
        .navbar-nav {
            .nav-item {
                text-align: center;
            }
        }
        .type {
            .type-link {
                p {
                    display: none;
                }
            }
        }
    }
}
.count-noti {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 25%;
    text-align: center;
    color: #fff;
}

.stealthy {
    left: 0;
    margin: 0;
    max-height: 1px;
    max-width: 1px;
    opacity: 0;
    outline: none;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: -1;
}

@include responsive("medium") {
    .headerPhone {
        .navbar-brand {
            font-size: $fs-3 + 0.5;
        }
    }
}

@keyframes hidenMenu {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
