<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
            crossorigin="anonymous"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
        />
        <link rel="stylesheet" href="../../css/main.css" />
    </head>

    <body>
        <div class="wrapper">
            <div class="swiper-header">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img
                            src="https://lh3.googleusercontent.com/hU1tudyxCPAz78Yt2tVItoHTw5sIY0gTFRDb0Also7k_okgR5jMyZIWRJjy0RrxtgaDvis3H70Ley_0o4DqOzAJz_rxhLrPD4w=w1920-rw"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="https://gstatic.gearvn.com/2021/10/f70855.png"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="https://gstatic.gearvn.com/2021/11/banner-top.jpg"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="https://theme.hstatic.net/1000026716/1000440777/14/bn-top3.jpg?v=24652"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="https://gstatic.gearvn.com/2021/10/9472E5.jpg"
                            alt=""
                        />
                    </div>
                    <div class="swiper-slide">
                        <img
                            src="https://gstatic.gearvn.com/2021/10/0061fd.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>
            <div class="header-contact">
                <div class="container">
                    <div class="row">
                        <div class="contact-item col-6 col-sm-3">
                            <a href="javascript:void(0)">
                                <i class="fa fa-city"></i>
                                <span>Hệ thống Showroom</span>
                            </a>
                        </div>
                        <div class="contact-item col-6 col-sm-3">
                            <a href="javascript:void(0)">
                                <i class="fa fa-headphones"></i>
                                <span>Tư vấn mua hàng</span>
                                <span class="phone-num">19002511</span>
                            </a>
                        </div>
                        <div class="contact-item col-6 col-sm-3">
                            <a href="javascript:void(0)">
                                <i class="fa fa-headphones"></i>
                                <span>CSKH:</span>
                                <span class="phone-num">19002510</span>
                            </a>
                        </div>
                        <div class="contact-item col-6 col-sm-3">
                            <a href="javascript:void(0)">
                                <i class="fa fa-newspaper"></i>
                                <span>Tin công nghệ</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <header class="headerPhone">
                <nav class="container navbar navbar-expand-lg">
                    <div class="logo">
                        <a class="navbar-brand" href="  ">
                            <img src="../../img/Brandlogo.png" alt="" />
                            <span>VISION</span>
                        </a>
                    </div>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarPhone"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="fas fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarPhone">
                        <div class="navbar-nav">
                            <div class="nav-item flex-grow-1">
                                <div class="search">
                                    <input
                                        type="text"
                                        class="search-input"
                                        placeholder="Nhập từ khóa"
                                        id="search-product"
                                        onchange="searchProduct()"
                                    />
                                    <button class="btn">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="nav-item">
                                <a class="menu-link" href="javascript:void(0)">
                                    <i class="fas fa-tags"></i>
                                    <span>Khuyến mãi</span>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="menu-link" href="javascript:void(0)">
                                    <i class="far fa-calendar-check"></i>
                                    <span>Đơn hàng</span>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="menu-link" href="javascript:void(0)">
                                    <i class="fas fa-user-circle"></i>
                                    <span id="fullname-account">Đăng nhập</span>
                                    <div class="sub-nav" id="user-login">
                                        <ul class="list-subnav">
                                            <li>
                                                <span>Bạn chưa đăng nhập</span>
                                            </li>
                                            <li>
                                                <button
                                                    class="btn btn-info"
                                                    data-toggle="modal"
                                                    data-target=".bd-example-modal-md"
                                                    id="login-modal-button"
                                                >
                                                    Đăng Nhập
                                                </button>
                                            </li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a
                                    class="menu-link"
                                    id="noti-item"
                                    href="javascript:void(0)"
                                >
                                    <i class="fas fa-bell"></i>
                                    <span>Thông báo</span>
                                    <div class="sub-nav" id="notification">
                                        <div class="emty-content">
                                            <img
                                                src="https://shopfront-cdn.tekoapis.com/static/e536f0592aa3c8b1.png"
                                                alt=""
                                            />
                                            <p>Bạn chưa có thông báo mới</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="menu-link" href="javascript:void(0)">
                                    <i class="fas fa-cart-plus"></i>
                                    <span>Giỏ hàng</span>
                                    <div class="sub-nav" id="cart">
                                        <div class="emty-content">
                                            <img
                                                src="../../img/emty-box.png"
                                                alt=""
                                            />
                                            <p>Bạn chưa có sản phẩm nào</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="type">
                    <div class="container">
                        <div class="row type-menu">
                            <div class="col-2">
                                <div class="type-item">
                                    <a
                                        href="#"
                                        class="type-link"
                                        onclick="getTypeProduct('Smartphone')"
                                    >
                                        <i class="fa fa-mobile-alt"></i>
                                        <p>Smartphone</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="type-item">
                                    <a
                                        href="#"
                                        class="type-link"
                                        onclick="getTypeProduct('Tablet')"
                                    >
                                        <i class="fa fa-tablet-alt"></i>
                                        <p>Tablet</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="type-item">
                                    <a
                                        href="#"
                                        class="type-link"
                                        onclick="getTypeProduct('Laptop')"
                                    >
                                        <i class="fa fa-laptop"></i>
                                        <p>Laptop</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="type-item">
                                    <a
                                        href="#"
                                        class="type-link"
                                        onclick="getTypeProduct('Desktop')"
                                    >
                                        <i class="fa fa-desktop"></i>
                                        <p>Desktop/PC</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="type-item">
                                    <a
                                        href="#"
                                        class="type-link"
                                        onclick="getTypeProduct('SmartWatch')"
                                    >
                                        <i class="bi bi-smartwatch"></i>
                                        <p>SmartWatch</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="type-item">
                                    <a
                                        href="#"
                                        class="type-link"
                                        onclick="getTypeProduct('Accessory')"
                                    >
                                        <i class="bi bi-headphones"></i>
                                        <p>Accessory</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div id="inner-content">
                <section class="phoneCarousel">
                    <div class="container-fluid">
                        <div class="swiperCarousel">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img
                                        src="https://lh3.googleusercontent.com/U57Rawn4XqpOZZuI78-Fe1PJXJ3vABL1VRVqjdlGGDGZVzESWoafsW28DJD0BeGTcVAdcdvY1Oaj-2-imNNgX8UL9mZp318A=rw-w1920"
                                        alt=""
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://lh3.googleusercontent.com/g3N7SZllL41MCDEE9qZu4-6AjDNwCXVlUMb0PVCetUSSI8DBROlRuCPT-jmTWNDIX9bJoqAUjqJlIvZ0nc8hUzj6-nu1uWJS6A=rw-w1920"
                                        alt=""
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://lh3.googleusercontent.com/XMrjDlfsYFQhmgpTiHeaSt5oexCO0DrkZIHSvubswJtJKi4_253SPbfz3ATunKPS6DBjMnWzZWRRC0QdxDsE4U4lTFYhxRws=rw-w1920"
                                        alt=""
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://lh3.googleusercontent.com/BBtDusJxkM8GKxoFe1WjHsQaFkiumLV-QTug7bQycPvWPUhCTNJBbiIpJrTtupDg1Bpl6AIpZy4UFIstoBDR21WCACobCS4=rw-w1920"
                                        alt=""
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://lh3.googleusercontent.com/gYQKUJ1Is4_Yc5gYXA-_-qTA3fMp7gZ4mM9nxW96nhaf_zF1ThC0EPCgN7OKT5g51NMGMVdLeJE6xo5G2Ay7m1Jaw6sxf2xp=rw-w1920"
                                        alt=""
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://philong.com.vn/media/banner/01_Marf7931051f524b62b2903cfee93ba2f17.jpg"
                                        alt=""
                                    />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://philong.com.vn/media/banner/11_Febacea8640a2415abe84d2dbff64fbe79d.jpg"
                                        alt=""
                                    />
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </section>
                <section class="products">
                    <div class="container brand-logo">
                        <div class="row">
                            <div class="col-2">
                                <div class="brand-item">
                                    <a
                                        href="#"
                                        class="brand-link"
                                        onclick="getBrandProduct('Vision')"
                                    >
                                        <div class="brand-img">
                                            <img
                                                src="/img/Brandlogo.png"
                                                alt=""
                                            />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="brand-item">
                                    <a
                                        href="#"
                                        class="brand-link"
                                        onclick="getBrandProduct('Apple')"
                                    >
                                        <div class="brand-img">
                                            <img
                                                src="https://gstatic.gearvn.com/2021/08/hYY5dAy9-1-1.png"
                                                alt=""
                                            />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="brand-item">
                                    <a
                                        href="#"
                                        class="brand-link"
                                        onclick="getBrandProduct('Samsung')"
                                    >
                                        <div class="brand-img">
                                            <img
                                                src="https://gstatic.gearvn.com/2021/08/samsung.png"
                                                alt=""
                                            />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="brand-item">
                                    <a
                                        href="#"
                                        class="brand-link"
                                        onclick="getBrandProduct('Assus')"
                                    >
                                        <div class="brand-img">
                                            <img
                                                src="https://gstatic.gearvn.com/2021/08/asus.png"
                                                alt=""
                                            />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="brand-item">
                                    <a
                                        href="#"
                                        class="brand-link"
                                        onclick="getBrandProduct('Acer')"
                                    >
                                        <div class="brand-img">
                                            <img
                                                src="https://gstatic.gearvn.com/2021/08/acer.png"
                                                alt=""
                                            />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="brand-item">
                                    <a
                                        href="#"
                                        class="brand-link"
                                        onclick="getBrandProduct('Sony')"
                                    >
                                        <div class="brand-img">
                                            <img
                                                src="https://gstatic.gearvn.com/2021/08/Sony-2.png"
                                                alt=""
                                            />
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="brand-item">
                                    <a href="#" class="brand-link">
                                        <div class="brand-img">
                                            <img
                                                src="https://cdn.tgdd.vn/Brand/1/logo-xiaomi-220x48-5.png"
                                                alt=""
                                            />
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container" id="productsList"></div>
                </section>
            </div>
            <footer></footer>
            <div
                class="modal fade bd-example-modal-xl"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myLargeModalLabel"
                aria-hidden="true"
            >
                <div class="modal-dialog modal-xl">
                    <div class="modal-content"></div>
                </div>
            </div>
            <div
                class="modal fade bd-example-modal-md"
                tabindex="-1"
                role="dialog"
                aria-labelledby="myLargeModalLabel"
                aria-hidden="true"
            ></div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="../controllers/effect.js"></script>
        <script type="module" src="../controllers/main.js"></script>
    </body>
</html>
